*{
    font-family: sans-serif; 
}

body {
    background-color: gray;

}

h1 {
    text-align: center;
    

   
}

h2 {
 text-align: center; 

}

.content {
    text-align: center;

}

main{
  
}

a {
    color: white;
    text-decoration: none;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
}

header{
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: rgba(0, 0, 255, 0.603);
}