*{
    font-family: sans-serif; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    color: white
}

h1 {
    text-align: center;
    font-size: 35px;
}

h2 {
 float:left; 
 margin-right: 30px;
 font-size: 25px;
}

.header h1{
    display: inline-block;
    text-align: center;
    margin-left: 25px;
}

div {
    display: block;
}

.name {
    font-size: 25px;
    color: black;
    font-weight: bold;
    border: beige;
    border-style: solid;
    width: 80px;
    text-align: center;
    margin: auto;
}
 
.About-Me {
    font-size: 20px;
    margin-bottom: 15px;
    padding: 35px;
    color: white;
    clear: both;
    background-color: lightskyblue;
}

.Work {
    font-size: 20px;
    margin-bottom: 15px;
    padding: 35px;
    color: white;
    clear: both;
    background-color: lightskyblue;
}

.Contact-Me {
    font-size: 20px;
    margin-bottom: 15px;
    padding: 35px;
    color: white;
    clear: both;
    background-color: lightskyblue;
}

.Resume {
    font-size: 20px;
    margin-bottom: 15px;
    padding: 35px;
    color: white;
    clear: both;
    background-color: lightskyblue;
    display: center; 

}

a {
    color: black;
    text-decoration: none;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

p {
    font-size: 17px;
    text-align: center;
    background-position: auto;
}

header {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: beige; 
    color: black;
}

div a:hover{
    color: blue;
}

@media screen and (min-width: 80rem) {
    .container {
      margin: 1em 2em;
    }
  }