*{
    font-family: sans-serif; 
    padding: 0;
    margin: 0;

}

header {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: lightblue; 
    color: black;
}
body {
    background-color: gray;
    display: block;
}

h1 {
    text-align: center;
    font-size: 28px;
}

.header h1{
    display: inline-block;
    text-align: center;
    margin-left: 25px;
} 

 .container{
    float:left; 
    font-size: 25px;
    border: 10px solid blue;
    padding: 25px;
    margin: 35px;
    color: black;
    background-color: lightslategray;
    height: 900px;
} 
 
.container2 {
    width: 50%;
    padding: 50px; 
    margin: 50px;
}

a {
    color: black;
    text-decoration: none;
}

.header div {
    margin-right: 20px;
    float: right;
    font-size: 28px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

p {
    font-size: 20px;

}

div a:hover{
    color: blue;
}

.container:hover {
    filter: brightness(50%);
}

@media (min-height: 680px), screen and (orientation: portrait) {
    .container2 {
      
    }
  }